
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

*{
    box-sizing: border-box;
    font-family: sans-serif;
}

li, p {
    font-family: 'Inter', sans-serif;
}

#logo {
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url('../img/logo-front.png');
}

h1 {
    font-size: 45px;
}

h2 {
    margin: 0 auto;
    display: inline-block;
}

h3 {
    font-family: serif;
    font-style:  italic;
}

nav li a {
    color: black;
    font-family: serif;
    text-decoration: none;
}

body {
    margin-right: 20px
}

header {
    width: 100%;
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/lemon-pie.png');
}

.lemon-pie {
    color:white;
    padding-top: 150px;
    background-image: linear-gradient(#00000025,#00000099);
}

nav ul {
    margin: 0;
    padding-left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

main {
    padding: 10px 0 80px 0;
}

#mer-it {
    font-size: 17px;
    color: darkorange;
}

#inst {
    padding-left: 20px;
}

footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color:lightgrey;
    text-align: center;
}
